.arrow-helpers {
  margin-top: 10px;
  margin-left: 40px;
  display: flex;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.2);
  justify-content: center;
}

.arrow-spacer {
  margin-top: 30px;
  width: 240px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 540px) {
  .arrow-helpers {
    display: none;
  }
}
