.info-card-container {
  padding: 20px;
  width: 100%;
}

.info-card-list {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  font-size: 16px;
  font-weight: 200;
  justify-content: space-around;
}

.info-card-info {
  display: flex;
  flex-direction: column;
}

.info-card {
  width: 48%;
  background-color: var(--color-bg2);
  border: 1px solid var(--color-border-darker);
  display: flex;
  padding: 20px;
}
.info-movie-cover img {
  height: 240px;
  margin-right: 20px;
}
.info-movie-title {
  font-size: 22px;
  font-weight: 500;
}
.info-movie-year {
  color: var(--color-accent);
  font-weight: 400;
}
.info-movie-director {
  font-size: 18px;
  margin-bottom: 8px;
}
.info-movie-score {
  color: var(--color-accent2);
  margin: 6px 0;
  font-weight: 400;
}
.info-movie-plot {
  font-size: 14px;
}
